.graph {
  height: 500px;
  width: auto;
  text-align: center;
}

.limits {
  flex-direction: row;
}

.functions {
  flex-direction: column;
}

.spacing {
  margin: 5px;
}

.functionInput {
  width: 475px;
}

.graphDiv {
  height: 500px;
  width: auto;
}
